:root {
  --bs-blue: #1717e5;
  --bs-primary: #1717e5;
  --bs-body-font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --bs-body-font-size: 1.2rem;
}

.text-brand {
  color: #fe375c !important;
}

.bg-white {
  background-color: #fff !important;
}

.rounded-5 {
  border-radius: 2rem !important;
}

/* Layout */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

/* Components */
.container {
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--bs-primary);
}
